.theme-colour-a
{
	background-color:rgb(0, 0, 0);
	color:White;
}

.theme-colour-b
{
	background-color:rgb(52, 58, 64);
	color:White;
}

.theme-colour-c
{
	background-color:rgb(62, 68, 74);
	color:White;
}